# 环境变量 (含密钥)
.env

# Python
__pycache__/
*.pyc

# 日志
logs/

# 打包产物
build/
dist/

# IDE
.vscode/
.idea/

# 测试
.pytest_cache/

# 前端构建产物
frontend/dist/
frontend/node_modules/

/frontend/node_modules
/frontend/dist
/celerybeat-schedule.dir
/celerybeat-schedule.bak
/celerybeat-schedule.dat
